/* CSS Document */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

header  {
  background-color: darkcyan;
  margin: 0;
}

h1 {
  /* text-align: center; */
  color: #fff;
  margin: 0;
  padding: .25em;
}
/*
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
*/

#main-content {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar  {
  background-color: darkcyan;
  width: 100%;
}
/*
#sidebar
.options-box  {
  background: #fff;
  border: 1 px solid #999;
  border-radius:3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}
 */
h2  {
  color: #fff;
  font-size: 1.25em;
  padding: .25em;
  margin: 0 0 10px 0;
}

h4  {
  color: red;
  font-size: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  margin: 0;
  text-align: ;
}

/* ====================== Locations Filtering ====================== */
.filter-options {
  display: flex;
  justify-content: space-around;
  height: auto;
  text-align: center;
  /* background-color: #3397DB; */
}
.filter-options select {
  border: 1px solid #fff;
  font-size: 1em;
  height: 50px;
  letter-spacing: 0;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
}

/* ====================== Locations Listing ====================== */
#locations-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 1em;
  /* list-style: none; */
  /* padding: 0; */
  /* margin: 0; */

}
#locations-list li {
  list-style: none;
  color: #fff;
  padding: .25em 0;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* width: 100%; */
}

/* ==========================     Map    ========================== */
#map {
  bottom: 0px;
  height: 400px;
  max-width: 320px;
}


#footer {
  background-color: #444;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 25px;
}
#footer p{
  color: #fff;
  font-size: .688em;
}
/********************* Style Dropdown  ******************/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/********************* End Dropdown Style   ******************/
